<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    login:
    {% if form.errors %}
    valami nem ok!
    {% endif %}
    
    {% if next %}
    hey you cant access that page.
    {% endif %}
    
    <form method='POST' action= "{%url 'login' %}">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</html>