{%extends 'base.html' %}

<!--Navbar-->
{% block navbar %}
{% endblock %}

<!--Title-->
{% block title %}
  <title>Lend_list</title>
{%endblock%}

<!--Head-->
{% block head %}
  <!--Put Header here-->
{% endblock %}

<!--Background-->
{% block background %}
  {%include 'background.html' %}
{% endblock %}

<!--Page_Content-->
{% block content %}
<body>
  {%include 'background.html'%}

  <h1>Lendings</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Value[Ft]</th>
        <th scope="col">Length[Time]</th>
        <th scope="col">Interest[%]</th>
        <th scope="col">Payed out[]</th>
        <th scope="col">Description[]</th>
      </tr>
    </thead>
    <tbody>

      {% for kerelem in kerelmek %}
      <tr>
        <th>{{ kerelem.id }}</th>
        <th>{{ kerelem.osszeg }}</th>
        <th>{{ kerelem.futamido }}</th>
        <th>{{ kerelem.kamat }}</th>
        <th>{{ kerelem.felvett }}</th>
        <th>{{ kerelem.leiras }}</th>
        <th><a href='/invest_money/{{kerelem.id}}'>Invest Money</a></th> <!--With this button you can take money-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{%endblock%}