{% extends 'base.html' %}

<!--Navbar-->


<!--Title-->
{% block title %}
  <!--Put Title Here-->
{% endblock %}

<!--Head-->
{%block head %}
  <!--Put Head Here-->
{% endblock %}

<!--Background-->
{%block background %}
  {%include 'background.html' %}
{% endblock %}

<!--Page_Content-->
{% block content %}
      <p>Welcome to the site {{user}}</p>
  
      <!-- CONTAINER - ADDS MARGIN -->
      <div class="container-md">
  
      <!-- DASHBOARD -->
      <table class="table table-dark table-striped">
          <tr>
            <th>
              Owner
            </th>
            <th>
              Money [Ft]
            </th>
            <th>
              Type
            </th>
          </tr>
          <tr>
            <td>{{szamla.szamla_tulajdonos}}</td>
            <td>{{szamla.aktualis_osszeg}}</td>
            <td>{{szamla.szamla_tipus}}</td>
            
          </tr>
        </table>
      </div>
      <a class="btn btn-primary" href="/addtobalance/">Add to Balance</a>
      {% if  account.szamla_tipus == "Lender" %}
        <a class="btn btn-primary" href="{% url 'lend_money'%}">Lend money</a>
      {%endif%}
      <a class="btn btn-primary" href="{%url 'widthdrawn' %}">Withdrawn Money</a>
{% endblock %}