{% extends "base.html" %}

<!--Title-->
{% block title %}
  <title>Lend_list</title>
{%endblock%}

<!--Head-->
{% block head %}
  My investments
{% endblock %}

<!--Background-->
{% block background %}
  {%include 'background.html' %}
{% endblock %}

<!--Page_Content-->
{% block content %}
  <tr>
      <th>Szamla</th>
      <th>Kerelem</th>
      <th>Osszeg</th>
      <th>Törlesztett</th>
  </tr>
  <tr>
    {%for list in investments %}
      <td>{{list.szamla}}</td>
      <td>{{list.kerelem}}</td>
      <td>{{list.osszeg}}</td>
      <td>{{list.torlesztett}}</td>
    {%endfor%}
  </tr>
{% endblock %}